<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../order.css">

    <title>Shippers</title>
</head>

<body>

    <!-- Making Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light f1">
        <a class="navbar-brand" href="#">Shippers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item  " href="#">Action</a>
                        <a class="dropdown-item  " href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item " href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item active ">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form action="/login" class="form-inline my-2 my-lg-0">

                <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Login </button>
            </form>
            <form action="/signup" class="form-inline my-2 my-lg-0">

                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SignUp</button>
            </form>
        </div>
    </nav>


    {{!-- MIdlle contents --}}


    <div class="container">
        <div class="inners-container m-auto">
            <h1 class="text-center font-weight-bold text-secondary">Order</h1>
            <div class="container">
                <h4 class="text-center">When do you want the delivery?</h4>
                <div class="container d-flex justify-content-center">
                    <button id="deliver" type="button" class="btn btn-primary btn-lg">Deliver Now</button>
                    <button id="schedule" type="button" class="btn btn-secondary btn-lg">Schedule Later</button>
                </div>
            </div>
            <br>
            <br>
            <div class="container">
                <h4 class="text-center">How to deliver</h4>
                <div class="container d-flex justify-content-center">
                    <button type="button" class="btn btn-primary btn-lg">Book a Courier</button>
                    <button type="button" class="btn btn-secondary btn-lg">Hyperlocal</button>
                </div>
            </div>
            <br>
            <br>
            <div class="container">
                <h4 class="text-center">Weight</h4>
                <div class="container d-flex justify-content-center">
                    <button type="button" class="btn btn-primary btn-lg">up to 1kg</button>
                    <button type="button" class="btn btn-secondary btn-lg">up to 5kg</button>
                    <button type="button" class="btn btn-primary btn-lg">up to 10kg </button>
                    <button type="button" class="btn btn-secondary btn-lg">up to 20kg</button>
                </div>
            </div>
            <br>
            <br>
            <div class="container d-flex justify-content-center bg-light">

                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label font-weight-bold text-secondary">Pickup
                            Address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <br>
                        <input type="text" placeholder="Enter Phoneno." class="form-control">
                        <br>
                        <input type="text"
                            placeholder="flat number, floor, building name, street name, landmarks, dimensions, package, fragile, contact name, etc."
                            class="form-control">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>

        </div>
    </div>





    <!-- MAking footer -->
    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">© 2019-2020 Shippers</p>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Privacy</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
        <form action="/admin">
            <button id="btn" class="btn btn-outline-success my-2 my-sm-0 fixed-bottom" type="submit">Admin</button>

        </form>


    </footer>


















    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>